name: "Documentation Builder"
on: workflow_dispatch

jobs:
  retrieve: 
    name: Retrieve
    runs-on: "ubuntu-latest"
    steps: 
      - name: Retrieve Skyd Docs
        run: git clone https://gitlab.com/SkynetLabs/skyd/
      - name: Retrieve Skynet Docs
        run: git clone https://github.com/SkynetLabs/skynet-docs/
      - name: Merge
        run: |
          mkdir source
          mv ./skyd/doc ./source
          mv ./skynet-docs/source ./source
  build: 
    name: Build
    runs-on: "ubuntu-latest"
    steps: 
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Node Slate Builder
      working-directory: ./source
      run: |
        npm install --save-dev gulp gulp-node-slate
        f=https://raw.githubusercontent.com/center-key/gulp-node-slate/main/gulpfile.js
        curl --remote-name $f
        cat gulpfile.js
        node node_modules/gulp/bin/gulp.js slate



