name: "Documentation Builder"
on: workflow_dispatch

jobs:
  retrieve: 
    name: Retrieve
    runs-on: "ubuntu-latest"
    steps: 
      - name: Retrieve Skyd Docs
      run: git clone https://gitlab.com/SkynetLabs/skyd/
      - name: Retrieve Skynet Docs
      run: git clone https://github.com/SkynetLabs/skynet-docs/
      - name: Merge
      run: |
        mkdir ${{ env.home }}/source/
        mv ${{ env.home }}/skyd/doc ${{ env.home }}/source
        mv ${{ env.home }}/skynet-docs/source
