name: "Documentation Builder"
on: workflow_dispatch

jobs:
  retrieve: 
    name: Build & Deploy
    runs-on: "ubuntu-latest"
    steps: 
      - name: Retrieve Skyd Docs
        run: git clone https://gitlab.com/SkynetLabs/skyd/
      - name: Retrieve Skynet Docs
        run: git clone https://github.com/SkynetLabs/skynet-docs/
      - name: Install Node Slate Tool
        run: git clone https://github.com/Fluffy9/node-slate
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Merge
        run: |
          cp -rlf ./skyd/doc/* ./node-slate/source
          cp -rlf ./skynet-docs/source/* ./node-slate/source 
      - name: Node Slate Builder
        working-directory: ./node-slate
        run: |
          npm install
          npm run build
      - name: Fix Weird index.html
        working-directory: ./node-slate/public
        run: mv ./index.html.html ./index.html
      - name: Deploy to Skynet
        uses: SkynetLabs/deploy-to-skynet-action@v2
        with:
          upload-dir: ./node-slate/public
          github-token: ${{ secrets.GITHUB_TOKEN }}
          registry-seed: ${{ secrets.REGISTRY_SEED || '' }}
          registry-datakey: ${{ secrets.REGISTRY_DATAKEY || '' }}



